<div class="mt-1 title">
  <h2 *ngIf="acction === 'new'">Formulario de Registro</h2>
  <h2 *ngIf="acction === 'edit'">Editar producto {{form.get("id")?.value}}</h2>
  <h2 *ngIf="acction === 'view'">Vista de producto {{form.get("id")?.value}}</h2>
</div>

<div class="mt-2">
  <form [formGroup]="form">
    <div class="form-content">
      <div class="form-control">
        <label for="id">ID</label>
        <input class="p-1" type="text" formControlName="id" id="id"
          [ngClass]="{'invalid': getErrorRequired('id') || getErrorMin('id') || getErrorMax('id') || getErrorIdValidate('id')}" />
        <span *ngIf="getErrorRequired('id')" class="text-invalid">
          ID no valido!
        </span>
        <span *ngIf="getErrorMin('id')" class="text-invalid">
          El ID debe tener al menos 3 caracteres!
        </span>
        <span *ngIf="getErrorMax('id')" class="text-invalid">
          El ID debe tener como máximo 10 caracteres!
        </span>
        <span *ngIf="getErrorIdValidate('id')" class="text-invalid">
          Esta id ya existe
        </span>
      </div>

      <div class="form-control">
        <label for="name">Nombre</label>
        <input class="p-1" type="text" formControlName="name" id="name"
          [ngClass]="{'invalid': getErrorRequired('name') || getErrorMin('name') || getErrorMax('name')}" />
        <span *ngIf="getErrorRequired('name')" class="text-invalid">
          Este campo es requerido!
        </span>
        <span *ngIf="getErrorMin('name')" class="text-invalid">
          El nombre debe tener al menos 5 caracteres!
        </span>
        <span *ngIf="getErrorMax('name')" class="text-invalid">
          El nombre debe tener como máximo 100 caracteres.!
        </span>
      </div>

      <div class="form-control">
        <label for="description">Descripcón</label>
        <textarea class="p-1" formControlName="description" id="description"
          [ngClass]="{'invalid': getErrorRequired('description') || getErrorMin('description') || getErrorMax('description')}"></textarea>
        <span *ngIf="getErrorRequired('description')" class="text-invalid">
          Este campo es requerido!
        </span>
        <span *ngIf="getErrorMin('description')" class="text-invalid">
          La descripción debe tener al menos 10 caracteres!
        </span>
        <span *ngIf="getErrorMax('description')" class="text-invalid">
          La descripción debe tener como máximo 200 caracteres!
        </span>
      </div>

      <div class="form-control">
        <label for="logo">Logo</label>
        <input class="p-1" type="text" formControlName="logo" id="logo"
          [ngClass]="{'invalid': getErrorRequired('logo') || getErrorUrl('logo')}" />
        <span *ngIf="getErrorRequired('logo')" class="text-invalid">
          Este campo es requerido!
        </span>
        <span *ngIf="getErrorUrl('logo')" class="text-invalid">
          El logotipo debe ser una URL válida!
        </span>
      </div>

      <div class="form-control">
        <label for="date_release">Fecha Liberación</label>
        <input class="p-1" (change)="onChangeDate()" type="date" formControlName="date_release" id="date_release"
          [ngClass]="{'invalid': getErrorRequired('date_release') || getErrorMinDate('date_release')}" />
        <span *ngIf="getErrorRequired('date_release')" class="text-invalid">
          Este campo es requerido!
        </span>
        <span *ngIf="getErrorMinDate('date_release')" class="text-invalid">
          La fecha debe ser igual o mayor que la fecha actual!
        </span>
      </div>

      <div class="form-control">
        <label for="date_revision">Fecha Revisión</label>
        <input class="p-1" type="date" formControlName="date_revision" id="date_revision"
          [ngClass]="{'invalid': getErrorRequired('date_revision')}" />
        <span *ngIf="getErrorRequired('date_revision')" class="text-invalid">
          Este campo es requerido!
        </span>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <button class="mr-1 reset-btn p-1 btn-secundary" *ngIf="acction != 'view'" (click)="onResetForm()" type="button">Reiniciar</button>
      <button class="p-1 btn-primary" *ngIf="acction != 'view'" (click)="onSaveForm()" type="button">Enviar</button>
    </div>
  </form>
</div>
