<div #modal id="modal" class="modal" [ngStyle]="{'display': show ? 'block' : 'none'}">
  <div class="modal-content">
    <!-- <span class="close" (click)="show = false">&times;</span> -->
    <h3 *ngIf="title && title != ''">{{title}}</h3>
    <div class="modal-body mt-1">
      <!-- <span *ngIf="type === 'error'" class="icon icon-error">&#10006;</span>
      <span *ngIf="type === 'success'" class="icon icon-success">&#10004;</span> -->
      <p>{{body}}</p>
    </div>
    <div class="modal-footer mt-1">
      <div style="display: flex; justify-content: center;">
        <button (click)="show = false" class="mr-1 close-btn btn-secundary" type="button">Cancelar</button>
        <button *ngIf="isDecision" (click)="onOk()" class="ok-btn" type="button">Confirmar</button>
      </div>
    </div>
  </div>
</div>