<div class="float-btn__container" *ngIf="product.id">
  <button class="float-btn__button" type="button" [attr.aria-expanded]="dropdownStates[product.id] || false"
    [attr.aria-haspopup]="true" [attr.aria-controls]="'dropdown-menu-' + product.id"
    [attr.aria-label]="'Opciones para ' + product.name" (click)="toggleDropdown(product.id)"
    (keydown)="onDropdownKeydown($event, product.id)">
    •••
  </button>
  <div class="float-btn__menu" [ngClass]="{'float-btn__menu--show': dropdownStates[product.id]}" role="menu"
    [attr.id]="'dropdown-menu-' + product.id" [attr.aria-labelledby]="'dropdown-button-' + product.id">
    <a class="float-btn__menu-item" [routerLink]="['view', product.id]" role="menuitem" tabindex="0"
      (keydown)="onMenuItemKeydown($event, 0, product.id)" [attr.aria-label]="'Ver detalles de ' + product.name">
      Vista
    </a>
    <a class="float-btn__menu-item" [routerLink]="['edit', product.id]" role="menuitem" tabindex="0"
      (keydown)="onMenuItemKeydown($event, 1, product.id)" [attr.aria-label]="'Editar ' + product.name">
      Editar
    </a>
    <a class="float-btn__menu-item" (click)="deleteProduct(product)" role="menuitem" tabindex="0"
      (keydown)="onMenuItemKeydown($event, 2, product.id)" [attr.aria-label]="'Eliminar ' + product.name">
      Eliminar
    </a>
  </div>
</div>
