<div class="content-links">
  <input class="p-1" (change)="onSearch()" [(ngModel)]="search" type="search" name="search" id="search"
    placeholder="Buscar..." />
  <a [routerLink]="['new']" class="p-1">Agregar</a>
</div>


  <div class="mt-2 wf table-content" style="overflow-x: scroll">
    <table class="table wf">
      <thead>
        <tr>
          <th>
            <div>Logo</div>
          </th>
          <th>
            <div>
              Nombre del producto
            </div>
          </th>
          <th>
            <div>
              Descripción <app-tooltip [text]="'Descripción del producto'"></app-tooltip>
            </div>
          </th>
          <th>
            <div>
              Fecha de liberacón <app-tooltip [text]="'Fecha de liberación del producto'"></app-tooltip>
            </div>
          </th>
          <th>
            <div>Fecha de reestauración <app-tooltip [text]="'Fecha de reestauración del producto'"></app-tooltip></div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img [src]="product.logo" [alt]="product.name" width="100" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date : "M/d/yyyy" }}</td>
          <td>{{ product.date_revision | date : "M/d/yyyy" }}</td>
          <td>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">•••</button>
              <div class="dropdown-content">
                <a [routerLink]="['view', product.id]">Vista</a>
                <a [routerLink]="['edit', product.id]">Editar</a>
                <a (click)="deleteProduct(product)">Eliminar</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngIf="length === 0">
          <td colspan="7">
            <span> No se encontraron productos </span>
          </td>
        </tr>
        <tr>
          <td>{{ length }} Resultados</td>
          <td class="size" colspan="6">

            <select (change)="onChangeSize()" [(ngModel)]="size" id="size" name="size">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

