<div class="content-links">
  <input class="p-1" (change)="onSearch()" [(ngModel)]="search" type="search" name="search" id="search"
    placeholder="Buscar..." />
  <a [routerLink]="['new']" class="p-1">Agregar</a>
</div>

<ng-container *ngIf="loader; else elseLoaderTemplate">
  <div class="loader-container">
    <app-loader></app-loader>
  </div>
</ng-container>
<ng-template #elseLoaderTemplate>
  <div class="mt-2 wf table-content" style="overflow-x: scroll">
    <table class="table wf">
      <thead>
        <tr>
          <th><div>Logo</div></th>
          <th>
           <div>
            Nombre del producto <span class="info-icon">&#8505;</span>
           </div>
          </th>
          <th>
            <div>
              Descripcion <span class="info-icon">&#8505;</span>
            </div>
          </th>
          <th>
            <div>
              Fecha de liberacón <span class="info-icon">&#8505;</span>
            </div>
          </th>
          <th>
            <div>Fecha de reestauración <span class="info-icon">&#8505;</span></div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <img [src]="product.logo" [alt]="product.name" width="100" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date : "M/d/yyyy" }}</td>
          <td>{{ product.date_revision | date : "M/d/yyyy" }}</td>
          <td>
            <!-- <a class="icon-button" [routerLink]="['view', product.id]" title="View">&#9732;</a>
            <a class="icon-button" [routerLink]="['edit', product.id]" title="Edit">&#9998;</a>
            <a class="icon-button" (click)="deleteProduct(product)" title="delete">&#10006;</a> -->
            <!-- <div class="menu-container">
              <span class="icon">•••</span>
              <ul class="dropdown-menu">
                <li><a href="#">Vista</a></li>
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
              </ul>
            </div> -->
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">•••</button>
              <div class="dropdown-content">
                <a [routerLink]="['view', product.id]">Vista</a>
                <a [routerLink]="['edit', product.id]">Editar</a>
                <a (click)="deleteProduct(product)">Eliminar</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngIf="length === 0">
          <td colspan="7">
            <span> No se encontraron productos </span>
          </td>
        </tr>
        <tr>
          <td>{{ length }} Resultados</td>
          <td class="size" colspan="6">

            <select (change)="onChangeSize()" [(ngModel)]="size" id="size" name="size">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-template>